<h1>Bonjour, veuillez vérifier votre adresse mail</h1>

<p>
    Confirmez votre adresse mail en cliquant sur ce lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon mail</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
