{% extends 'base.html.twig' %}

{% block title %}Changez votre mot de passe{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Changez votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre mail et nous vous enverrons un lien pour le changer.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer l'email</button>
    {{ form_end(requestForm) }}
{% endblock %}
