@import "home.scss";
@import "~bootstrap/scss/bootstrap";
@mixin grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 9px;
}


body {
    background-color: white;
}

.image-src{
    max-height: 200px;
    max-width: 200px;
}