@import "fonts";

@mixin grid {
  grid-template-columns: repeat(12, 1fr);
  column-gap: 9px;
}


header{
  display: grid;
  @include grid;
  position: sticky;
  top: 0px;
  z-index: 1;
  max-height: 7rem;
  padding: 0.5rem 0.5rem;
  align-items: center;
  button{
    border: none;
    font-size: 18px;
    background-color: rgba(white, 0);
    border-radius: 8px;
    color: black;
    padding: 0.25rem 1rem;
    font-family: regular-code;
    transition: 100ms;
  }
  button:hover{
    background-color: rgba(white, 0.7);
  }
  img{
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
  }
  .first-div-header{
    grid-column: 1 / span 1;
    padding-left: 0.5rem;
  }
  .second-div-header{
    grid-column: 11 / span 2;
    display: flex;
    justify-content: end;
  }
  .third-div-header{
    grid-column: 6 / span 2;
    display: flex;
    justify-content: center;
    button{
      margin: 0rem 0.5rem;
    }
  }
}

.main-wrapper{
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
.first-div-accueil{
  background: linear-gradient(to bottom, rgba(black, 0.4)  , rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: end;
  h1{
    font-family: regular-code;
    max-width: 70%;
    text-align: center;
  }

}
}

.second-div-accueil{
  margin-top: 7rem;
display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.image-base{
max-height: 400px;
  max-width: 400px;
}

.second-main-div{
  margin-top: 5rem;
  width: 100%;
  p{
    font-family: "regular-code";
    font-size: 28px;
    text-align: center;
  }
  .painting{
    margin: 3rem;
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.7);
  }
}
.carousel{
  margin-top: 2rem;
}
a{
  position: relative;
  top: 20%;
  content-visibility: hidden;
}
.first-div-tab,
.second-div-tab,
.third-div-tab{
  display: grid;
  @include grid;
  .painting1,
  .painting3{
    grid-column: 2/ span 3;
  }
  .painting2{
    grid-column: 9/ span 3;
  }
  p{
    font-size: 20px;
    text-align: justify;
  }
  .paraph1,
  .paraph3{
    grid-column: 7 / span 5;
    align-self: center;
  }
  .paraph2{
    grid-column: 2/ span 5;
    align-self: center;
  }
}


.first-div-tab,
.third-div-tab{
  background-color: #ECF9FF;
}

footer{
  margin-top: 5rem;
  font-family: "regular-code";
  padding: 3rem;
  display: grid;
  @include grid;
  background-color: #D0B9A8;
.first-div-footer{
  grid-column: 2 / span 3;
  display: flex;
  flex-direction: column;
}
  .second-div-footer{
    grid-column: 7 / span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      max-width: 4rem;
      max-height: 4rem;
      border-radius: 50%;
    }
  }
}
#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound h1{
  font-family:'Courier New', Courier, monospace;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
#notfound > img {
  height: 92%;
  width: 156%;
  position: fixed;
  left: -28%;
  top: 2%;
}
#notfound .notfound img{
  font-family:'Courier New', Courier, monospace;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0;
  position: absolute;
  left: 125%;
  top: 228%;
  transform: translate(-50%, -50%);
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.notfound .notfound404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 23%;
  transform: translateX(-50%);
  z-index: -1;
}
.notfound h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.notfound p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}
.notfound  a{
  text-decoration: none;
  color: black;
  cursor: default;
}
.notfound > a{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  // display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  transition: .2s all;
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}